{% load staticfiles %}
<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>John's List</title>
    <link rel="stylesheet" href='{% static "craigs_list/css/bootstrap.css" %}' media="screen" title="bootstrap" charset="utf-8">
    <link rel="stylesheet" href='{% static "craigs_list/css/craigs_list.css" %}' media="screen" charset="utf-8">
    <head>
      {% if request.user.is_authenticated %}
      <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">John's List</a>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index_view' %}" role="button">Index</a><span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'logout' %}?next=/" role="button">Logout</a></li>
        <li><a href=" {% url 'listing_create_view' %}" role="button">Create Listing</a></li>
        <li><a href="{% url 'user_listing_view' %}" role="button">View Your Listings</a></li>
        <li><a href="{% url 'user_city_listing_view' %}" role="button">Listings Near You</a></li>
        <li><a href="{% url 'profile_update_view' %} " role="button">Profile</a></li>
      </ul>
    </nav>
      <div class="container">
        <h3>{{request.user}}</h3>
      </div>
      {% else %}
      <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">John's List</a>
      <ul class="nav navbar-nav">
          <li><a href=" {% url 'user_create_view' %}" role="button">Create User</a> </li>
          <li><a href="{% url 'login' %}" role="button">Login</a></li>
          <li><a href="{% url 'index_view' %}" role="button">Index</a></li>
          <li><a href="{% url 'anon_choose_city_view' %}" role="button">Choose a City</a></li>
      </ul>
    </nav>
      {% endif %}
      <div class="container">
        {% block content %}
          No content provided
        {% endblock %}
     </div>
</html>
